.number-paragraph {
  background-color: red;
  padding: 10px;
  border-radius: 5px;
}

.number-paragraph p {
  margin: 0;
}

.number-paragraph span {
  display: inline-block;
  margin-right: 5px;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
}